.maindiv {
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
  color: white;
  }
  header > img{
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    }
  header > div{
      height: 65px;
      width: 60%;
      position: fixed;
      top:20px;
      left: 25%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      box-shadow: 5px 5px 10px rgb(99, 99, 99); 
       background:linear-gradient(to left, rgb(6, 39, 117), rgb(19, 13, 13));  
       border-radius: 50px;
     } 
#shortsign{
  position: relative;
  left: 40%;
}
 h2{
  /*margin-top: 200px;*/
  font-size:60 px;
  color: rgb(3, 33, 65);
  text-align: center;
 }
 
  .image1{
    width:70px;
    height: 50px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 70%;
  }
  .imagesection{
    position: absolute;
    top:0px;
    left:90px;
  }
  .headerlists {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap:50px;
    align-items: center;
  }
  .item {
    font-size: 15px;
    color:white;
    font-size: large;
    transition: 0.7s;
  }
   .item:hover{
 color: rgb(143, 96, 201);
 font-weight: 800;
}
  .signinbutton {
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding:10px;
    border-radius: 50px;
    width:100px;
    transition: 0.7s;
  }
  .signinbutton:hover{
    background: linear-gradient(to right, blue,  purple);
    color:white;
    transition: (1.05);
    font-size: 15px;
    transform: scale(1.05);
  } 
  #shortsign{
    margin-top: 10px;
    margin-left: 20px;
  }
  .mainbutton{
    margin-top: 40px;
  }
  .Sign {
    position: absolute;
    top:350px;
    left:200px;
    text-align: center;
  
  }
  .sign p{
    font-weight: 600;
    font-size: large;
  }
  .signinsection {
    font-size: 35px;
    margin-bottom: 10px;
  }
  #about {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    gap: 5px;
    padding: 2%;
    padding-top: 70px;
    max-height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  .line{
    color :orange;
  }
  .statment p{
    margin-top: 70px;
    width: 600px;
    margin-left: 50px;
    color: black;
    width:500px;
    padding: 10px;
    font-size: 15px;
  }
  .statment p:hover{
    transform: scale(1.02);
    background-color: rgba(188, 106, 43, 0.2);
    border-bottom: 2px solid rgb(9, 62, 112);
    border-bottom-left-radius: 50px;
    border-top-right-radius:70px ;
  }
 .statment img{
  border-bottom: 50px;
  margin-left: 50px;
  box-shadow: 15px 15px 15px rgb(34, 43, 51);
  
 }
  ul{
    display:flex;
    gap:30px;     
}
.iconimage{
  width:70px;
  height:50px;
  border-radius: 50px;
}
ul li{
    list-style: none;
    text-decoration: none;
}
.Maincontent{
  margin-bottom: 100px;
}
.headerlists li a{
  list-style: none;
  text-decoration: none;
  color:white;
  font-weight: 500;
}
.contents{
  text-align: center;
  margin: 30px;
}
.contents p{
  text-decoration: underline rgb(59, 1, 45);
  font-weight: 800;
  font-size: 40px;
  color: rgb(3, 33, 65);
}
.mainnote .note{
  font-size: 18px;
  text-decoration: none;

}
.listicon{
  display: flex;
  justify-content: space-between;
  margin-left: 250px;
}
.links{
  margin-top: 100px;
}
.links2{
  margin-left: 300px;
}
.mainnote{
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-right: 50px;
}
.mainlist li a{
  box-shadow: 10px 10px 10px rgb(31, 94, 145);
}
.mainlist li a:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 10px rgb(41, 3, 147);
}
.note2{
  margin-right: 130px;
}

.dropdown {
  position: absolute;
  color:rgb(5, 34, 103);
  background-color:rgb(2, 42, 63);
  height: 120px;
}
.dropdown li {
  text-decoration: none;
  display: block;
  margin-top: 10px;
 width:100px;
 text-align: center;
}
.dropdown li:hover{
  border: 1px solid rgb(10, 87, 154);
  border-radius: 50px;
}
.item:hover .dropdown {
  display: block;
} 