/* Admin Container */
.admin-container {
    font-family: Arial, sans-serif;
    background-color: #003366;
    
  }
  
  /* Navbar Styles */
  .admin-navbar {
    background-color: white; /* White background */
    padding: 10px 20px;
    box-shadow: 0 4px 2px -2px gray;
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }
  
  .navbar-item {
    display: inline-block;
  }
  
  .navbar-link {
    text-decoration: none;
    color:  #003366; /* Dark blue text color */
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
  }
  
  .navbar-link:hover {
    color: white; /* White text color on hover */
    background-color:  #003366; /* Dark blue background on hover */
    border-radius: 5px;
  }
  
  /* Admin Content Styles (optional) */
  .admin-content {
    padding: 20px;
    background-color:  #003366;
  }
  .report-container {
    padding: 20px;
  }
  
  .report-table,
  .available-dorms-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .report-table th,
  .available-dorms-table th,
  .report-table td,
  .available-dorms-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  .report-table th,
  .available-dorms-table th {
    background-color: #f2f2f2;
    color: #003366;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 1.5em;
  }
  