.not-assigned-container {
    /* Add any styles for the container element here */
    
      background-color: #003366;
      padding: 10px; /* Reduced padding for closer alignment */
      margin-top: 0; /* Remove any top margin to move closer to the navbar */
    }
    
  
  
  .not-assigned-table {
    border-collapse: collapse; /* Ensures table borders don't overlap */
    width: 100%; /* Optional: Set a width for the table */
  }
  
  .not-assigned-table thead tr {
    background-color: white;
  }
  
  .not-assigned-table th,
  .not-assigned-table td {
    border: 1px solid white;
    padding: 8px; /* Add some padding for readability */
    color: white;
  }
  .not-assigned-table th{
   color: #003366;
  }
  .heading{
    color: white;
  }